body {
    margin: 0;
    padding: 0;
    background-color: white;

    @include fs-bodyCopy(2);
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.interactive-container {
    background-color: white;
    padding: 10px;
    @include mq(mobileLandscape) {
        padding: 20px;
    }
}
